chardet==2.3.0
click==7.1.1
command-not-found==0.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonpickle==1.3
language-selector==0.1
MarkupSafe==1.1.1
numpy==1.18.2
pycryptodome==3.4.3
pycurl==7.43.0
pyfiglet==0.8.post1
pygobject==3.20.0
python-apt==1.1.0b1
python-debian==0.1.27
python-engineio==3.12.0
python-socketio==4.5.0
python-systemd==231
requests==2.9.1
six==1.14.0
ssh-import-id==5.5
tabulate==0.8.7
termcolor==1.1.0
ufw==0.35
urllib3==1.13.1
Werkzeug==1.0.0
